commands:
  vanta-agent:
    command: >
      VANTA_KEY=`{"Fn::GetOptionSetting": {"Namespace": "aws:elasticbeanstalk:application:environment",
      "OptionName": "VANTA_KEY"}}`
      bash -c "$(curl -L https://raw.githubusercontent.com/VantaInc/vanta-agent-scripts/master/install-linux.sh)"
    ignoreErrors: true
